<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Genshin Impact</title>
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="icon" href="~/images/mora.png">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="top">
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Genshin</h1>
                <p>
                    A responsive video gallery template with a functional lightbox<br />
                    designed by Templated and released under the Creative Commons License.
                </p>
            </header>
            <a href="#main" class="more"></a>
        </div>
    </section>
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Boxes -->
            <div class="thumbnails">

                <div class="box">
                    <a href="https://youtu.be/zbzM4Rz7wnw" class="image fit"><img src="~/images/weapons.png" alt="" /></a>
                    <div class="inner">
                        <h3>Weapons</h3>
                        <p>Weapon dictate what your character's main focus and roles will be in a battle. Due to the different weapon types, there will be characters that specialize at close range or long range combat.</p>
                        <a href="https://youtu.be/zbzM4Rz7wnw" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                    </div>
                </div>

                <div class="box">
                    <a href="https://youtu.be/Xb3W3vMcEms" class="image fit"><img src="~/images/characters.png" alt="" /></a>
                    <div class="inner">
                        <h3>Characters</h3>
                        <p>Check out this character list for Genshin Impact. Find out rankings for each character, rarity, element, weapon type, bonus and bonus stats, passive talents, birthday, and more!</p>
                        <a href="@Url.Action("CharacterList", "Genshin")" class="button style3 fit" data-poptrox="youtube,800x400">See Characters</a>

                    </div>
                </div>

                <div class="box">
                    <a href="https://youtu.be/u7F2rDL9buk" class="image fit"><img src="~/images/artifacts.png" alt="" /></a>
                    <div class="inner">
                        <h3>Artifacts</h3>
                        <p>Unlike many other RPGs, in Genshin you'll have 5 separate Artifact slots, into which you can equip one of each type of Artifact to customize to improve your character's stats!</p>
                        <a href="https://youtu.be/u7F2rDL9buk" class="button style3 fit" data-poptrox="youtube,800x400">See Artifacts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>Etiam veroeros lorem</h2>
            <p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
