
<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        @foreach (var item in Model)
        {

            <div class="box" style="position: relative;">
                <a href="@Url.Action("Character", "Genshin", new { char_id = item.Id})" class="fit" data-poptrox="youtube,800x400">
                    <img class="image fit" src="@item.Image_Small" />
                    <h3 class="char-name">@item.Name.ToUpper()</h3>
                    <h4 class="char-text">@item.Rarity ✦ @item.Element.ToUpper()</h4>
                    @{
                        var img_name = item.Element + ".png";
                        <img class="elem_img" src="~/images/@img_name" />
                    }
                </a>
            </div>
        }
    </div>
</div>
