
@{
    ViewBag.Title = "Weapons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    <div class="tab">
        <div>
            @using (Html.BeginForm())
            {
                <input class="tab_button @(ViewBag.Weapon == "ALL" ? "active" : "")" type="submit" value="ALL" name="weapon" />
                <input class="tab_button @(ViewBag.Weapon == "SWORD" ? "active" : "")" type="submit" value="SWORD" name="weapon" />
                <input class="tab_button @(ViewBag.Weapon == "CLAYMORE" ? "active" : "")" type="submit" value="CLAYMORE" name="weapon" />
                <input class="tab_button @(ViewBag.Weapon == "BOW" ? "active" : "")" type="submit" value="BOW" name="weapon" />
                <input class="tab_button @(ViewBag.Weapon == "CATALYST" ? "active" : "")" type="submit" value="CATALYST" name="weapon" />
                <input class="tab_button @(ViewBag.Weapon == "POLEARM" ? "active" : "")" type="submit" value="POLEARM" name="weapon" />
            }
        </div>
    </div>

    <div class="thumbnails">
        @foreach (var item in Model)
        {
            <div class="weapon_box white_hover">
                <a href="@Url.Action("Weapon", "Genshin", new { weapon_id = item.Id})" class="fit" data-poptrox="youtube,800x400">
                    <img class="weapon image fit" src="@item.Image" />
                </a>
            </div>

        }
    </div>
</div>


