<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Genshin Impact</title>
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="icon" href="~/images/mora.png">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <br />
        <a href="@Url.Action("Index", "Genshin")">Home</a> 
        <hr />
        <a href="@Url.Action("CharacterList", "Genshin")">Characters</a>
        <a href="@Url.Action("WeaponList", "Genshin")">Weapons</a>
        <a href="@Url.Action("Index", "Genshin")">Artifacts</a>
        <hr />
        <a href="@Url.Action("Index", "Genshin")">About Us</a>
    </div>
    <div id="main">
        <button class="openbtn" onclick="switchNav()">☰ Menu</button>
        <div id="main">
            @RenderBody()
        </div>
        <footer class="footer d-sm-block">
            <hr>
            <p style="text-align:center">
                <span>©&nbsp;2021&nbsp; Genshin Impact </span>
            </p>
        </footer>
    </div>
    <script>
        var isOpen = false;

        function switchNav() {
            if (isOpen) {
                closeNav();
            } else {
                openNav();
            }
        }

        function openNav() {
            isOpen = true;
            document.getElementById("mySidebar").style.width = "15%";
            document.getElementById("main").style.marginLeft = "15%";
        }

        function closeNav() {
            isOpen = false;
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
