<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Genshin Impact</title>
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="icon" href="~/images/mora.png">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <button onclick="topFunction()" id="topbtn" title="Go to top">Back to Top</button>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <br />
        <a href="@Url.Action("Index", "Genshin")">Home</a>
        @if (Session["CurrentUser"] == null)
        {
            <a href="@Url.Action("Login", "Users")">Login</a>
            <a href="@Url.Action("Register", "Users")">Register</a>
        }
        else
        {
            MvcMariaDB.Models.Users currentUser = (MvcMariaDB.Models.Users)Session["CurrentUser"];
            <a href="@Url.Action("UserProfile", "Users", new { id = currentUser.Id })">My Profile</a>
            <a href="@Url.Action("Logout", "Users")">Logout</a>
        }
        <hr />
        <a href="@Url.Action("CharacterList", "Genshin")">Characters</a>
        <a href="@Url.Action("WeaponList", "Genshin")">Weapons</a>
        <a href="@Url.Action("ArtifactSetList", "Genshin")">Artifacts</a>
        <hr />
        <a href="@Url.Action("Game", "Genshin")">Game</a>
        <a href="@Url.Action("SystemRequirements", "Genshin")">System Requirements</a>
        <a href="@Url.Action("Elements", "Genshin")">Elements</a>
        <a href="@Url.Action("World", "Genshin")">World</a>
        <hr />
        @if (Session["CurrentUser"] != null)
        {
            <a href="@Url.Action("CommentList", "Users")">Forum</a>
        }
        <a href="@Url.Action("Faq", "Genshin")">FAQ</a>
        <a href="@Url.Action("AboutUs", "Genshin")">About Us</a>
    </div>
    <div id="main">
        <button class="openbtn" onclick="switchNav()">☰ Menu</button>
        <div id="main">
            @RenderBody()
        </div>
        <footer class="footer d-sm-block">
            <hr>
            <p style="text-align:center">
                <span>©&nbsp;2021&nbsp; Genshin Impact </span>
            </p>
        </footer>
    </div>
    <script>
        var isOpen = false;

        function switchNav() {
            if (isOpen) {
                closeNav();
            } else {
                openNav();
            }
        }

        function openNav() {
            isOpen = true;
            document.getElementById("mySidebar").style.width = "15%";
            document.getElementById("main").style.marginLeft = "15%";
        }

        function closeNav() {
            isOpen = false;
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        var mybutton = document.getElementById("topbtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
